/* style file */
html, body, #map_canvas {
	height: 100%;
	width: 100%;
	margin: 0px;
}

#map_canvas {
	position: relative;
}

.angular-google-map-container {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.grid-visibility-control {
	background-color: rgba(210, 130, 240, 0.3) !important;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 10px;
	left: 50px;
	z-index: 99;
	text-align: justify;
}

.md-block {
	margin-top: 3px;
	margin-left: 10px;
	margin-right: 10px;
}

.minput {
	width: 30px;
	font-family: serif;
}

.mlabel {
	font-style: normal;
}

.mbutton {
	width: 50px;
	font-family: sans-serif;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
}

.mbuttonRed {
	width: 50px;
	font-family: sans-serif;
	font-weight: bold;
	color: red;
	margin-left: 5px;
	margin-right: 5px;
}

.mbuttonBlue {
	width: 50px;
	font-family: sans-serif;
	font-weight: bold;
	color: blue;
	margin-left: 5px;
	margin-right: 5px;
}

.mbutton {
	width: 50px;
	font-family: sans-serif;
	font-weight: bold;
	color: black;
	margin-left: 5px;
	margin-right: 5px;
}

.grid-container {
	width: 400px;
	height: 400px;
	background-color: rgba(210, 130, 240, 0.3) !important;
	position: absolute;
	top: 110px;
	left: 10px;
	z-index: 99;
	text-align: center;
}

code {
	margin: 10px;
	display: block;
	overflow: auto;
}

.grid-container {
	height: 340px;
	overflow-y: auto;
}

.grid-container table {
	margin: 0;
}


